{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Worth Your Weight In Gold</title>
        <link rel="stylesheet" type="text/css" href="{% static 'gold/style.css' %}"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        
        <script>
            
            
            // this is the data for the API Key and the Dates
            let  apiKey = 'api_key=78VZ4in6zMkmSEgFz_uy';
           
            var today = new Date();
            var past = new Date();
            past.setDate(today.getDate()-8);
            let start = `start_date=${past}`;
            let end   = `end_date=${Date()}`;
            let col = "column_index=1";
            let limit = "limit=1";
            
            
            //this is where i am putting the convert strings for now. THis needs to be changed to what they input
           
            let unit = "to=t_oz";
            let trash = "from=lbs"
            
            // Returns the parameter String for the GET request
            var formParamsString = function() {
                let argsArray = Array.from(arguments);
                let url = argsArray.shift();
                return `${url}?${argsArray.join('&')}`;
            }
        
        // global variable to contain the result of our asynchronous request
        var theData;
        var converted;
        var inputted
        
        var go_fetch = function() {
            
            // This is where i am getting the value of teh box and then using it in the computation
            inputted = document.getElementById("myWeight").value;
            let val = `value=${inputted}`;
            if(isNaN(inputted)){
                var para3 = document.querySelector('#quandl');
                para3.textContent = 'You Must Input a Number in lbs';
            }
            else {
                var para5 = document.querySelector('#quandl');
                para5.textContent = 'Loading...';
            var goldPrice;
            var troys;
            let url = '';
            
            url = formParamsString('https://www.quandl.com/api/v3/datasets/LBMA/GOLD.json?', apiKey, start, end, col, limit );
            
            let convUrl = formParamsString('http://127.0.0.1:8000/unitconv/convert', trash, unit, val);
            
            console.log(url);
            console.log(convUrl);
            
            fetch(url)
            .then( r => r.json() )
            .then( json => {
                  theData = json;
                  console.log(theData.dataset.data[0][1]);
                  
                  goldPrice = theData.dataset.data[0][1];
                  console.log(goldPrice);
                  a = goldPrice * 3;
                  console.log(a);
                  
                  fetch(convUrl)
                  .then( r => r.json() )
                  .then( json => {
                        converted = json;
                        console.log(converted);
                        troys = converted["value"]
                        console.log(troys);
                        
                        yeet = troys * goldPrice;
                        console.log(yeet);
                        
                        var para = document.querySelector('#quandl');
                        para.textContent = `You are worth $${yeet}!`;
                        
                        
                        });
                  });
           
            }
        }
        
            </script>
        <div class="shadowed yellow nice-box">
            <h2>Worth Your Weight In Gold</h2>
            <p> Input your weight in lbs and see how much you are worth in gold! </p>
            
       
        
        
        
        
        
                <input type="text" id="myWeight">
                </input>
                <button type="button" onclick="go_fetch()">calculate</button>
          
            <div>
                <p id="quandl">Find out what you're really worth...</p>
            </div>
        </div>
       
        
    </body>
</html>


