
.shadowed {
    text-shadow: 1px 1px 2px black;
    color:       white;
}

.nice-box {
    font-family: 'helvetica neue', helvetica, sans-serif;
    padding: 3px 10px;
    margin: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.flex-rows {
    display: flex;
    flex-direction: row;
}

.stuff-box {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 3px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.red {
    border-color: rgb(255,0,0);
    background:   rgb(180,60,60);
    box-shadow: 1px 1px 2px rgba(200,0,0,0.4);
}

.yellow {
    border-color: rgb(255,255,0);
    background:   rgb(180,180,60);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.blue {
    border-color: rgb(0,0,255);
    background:   rgb(60,60,180);
    box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
    border-color: rgb(0,255,0);
    background:   rgb(60,180,60);
    box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}


